{% if country_list != None %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Country</th>
                  <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for country in country_list %}
                    <tr>
                        {% set country_name = get_country_from_code(country) %}
                        <th scope="row">{{ loop.index }}</th>
                        <th><a href="{{ url_for('visitado.information', country=country_name) }}">
                            {{ country_name }}</a></th>
                        <th><a href="{{ url_for('visitado.delete_country', country_code=country) }}">Delete</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}